

body {
    background-color: bisque;
    text-align: center;
}

h1 {
    color: red;
}

h3 {
    color: rgb(182, 178, 69);
}

h2 {
    color: blueviolet;
}

.button {background-color: orange; color: red}